<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="PlayerAbilities" value="kick|run|control|tackle"/>-->
    <add key="GoalKeeperStrategy" value="50|80|80|10" />
    <add key="RightCentreBackStrategy" value="60|50|60|70" />
    <add key="LeftCentreBackStrategy" value="60|80|60|90" />
    <add key="DefendingMiddleFielderStrategy" value="90|90|90|90" />
    <add key="LeftWingerStrategy" value="70|50|60|70" />
    <add key="RightWingerStrategy" value="70|50|60|70" />
  </appSettings>
</configuration>